.pmp.text
{
    padding : 4px;
    padding-top : 20px;
}

.pmp.text pre
{
    margin : 0;
}

.pmp.text .grid
{
    display: inline-block;
    font-family : monospace;
    line-height : 6px;
}

.pmp.text .score
{
    position : absolute;
    display : inline-block;
    top : 24px;
    margin-left : 20px;
    font-family : monospace;
    font-size : 12px;
}

.pmp.text .mask
{
    position : absolute;
    top : 0;
    left : 0;
    vertical-align : middle;
    text-align : center;
    height : 100%;
    width : 100%;
    background-color : rgba(200, 200, 200, 0.8);
    padding : 14px;
}
